$titleColor: #7d7d7d;

.section {
  padding: 1rem;
  & + & {
    padding-top: 15px;
    border-top: 1px solid #aaa;
  }
  .title {
    font-size: 20px;
    display: inline-block;
    margin: 0;
    position: relative;
    padding-bottom: 5px;
    color: $titleColor;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -2.5%;
      width: 107.5%;
      height: 3px;
      border-radius: 10px;
      background-color: $titleColor;
    }
  }
  .content {
    margin-top: 10px;
  }
}
