@import "@mental-rebuilders/styles-reset-library/lib/base-reset.scss";
@import "@fontsource/shanti";

html {
  font-size: 16px;
}

body {
  font-family: "Shanti";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
